.active {
  color: white;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background-color: #dc2626;
  transition: width 0.2s ease-in-out;
}

.active.logo::after {
  content: none;
}
